<a href="https://colab.research.google.com/github/rafael2ll/ms-mm1/blob/master/trabalho_mm1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from enum import Enum

In [0]:
class Distribuicoes(Enum):
    NORMAL = {'name': 'Normal', 'func': np.random.normal}
    EXPONENCIAL= {'name': 'Exponencial', 'func': np.random.exponential}
    POISSON = {'name': 'Poisson', 'func': np.random.poisson}
    BINOMIAL = {'name': 'Binomial', 'func': np.random.binomial}

In [0]:
class Variaveis:
    def __init___(self):
        self.tec_funcao = lambda:  1
        self.tes_funcao = lambda:  1
    
    def set_tec(self, f):
        """
            params: 
                f: (func) função de aridade 0 de retorno inteiro
        """
        self.tec_funcao = f
        
    def get_tec(self):
        return self.tec_funcao()
    
    def set_tes(self, f):
        """
            params:
                f: (func) função de aridade 0 de retorno inteiro
        """
        self.tes_funcao = f
        
    def get_tes(self):
        return  self.tes_funcao()

In [0]:
class Simulacao:
    def __init__(self, variaveis = Variaveis(), tempo_limite=-1, clientes=-1):
        self.variaveis = variaveis
        self.simulacao = list()
        self.tempo_limite = tempo_limite
        self.numero_clientes = clientes
    
    def simular_tudo(self):
        self.simulacao = []
        if self.numero_clientes > 0:
            for i in range(self.numero_clientes):
                self.simular()
        elif self.tempo_limite > 0:
            tempo_relogio = 0
            while tempo_relogio < self.tempo_limite:
                self.simular()
                tempo_relogio = self.simulacao[-1]["tempo_final_servico_relogio"]
    def simular(self):
        if len(self.simulacao) == 0:
            cliente = 1
            tec = abs(self.variaveis.tec_funcao()*10)
            tempo_chegada_relogio = tec
            tes = abs(self.variaveis.tes_funcao()*10)
            tempo_inicio_servico_relogio = tec
            tempo_fila = 0
            tempo_final_servico_relogio= tec+tes
            tempo_cliente_sistema = tes
            tempo_livre_operador = tec
        else:
            cliente = self.simulacao[-1]['cliente']+1   
            tec = abs(self.variaveis.tec_funcao()*10)
            tempo_chegada_relogio =  self.simulacao[-1]['tempo_chegada_relogio'] +tec
            tes = abs(self.variaveis.tes_funcao()*100)
            tempo_inicio_servico_relogio = max([tempo_chegada_relogio, self.simulacao[-1]['tempo_final_servico_relogio']])
            tempo_fila = max([0,  self.simulacao[-1]['tempo_final_servico_relogio'] - tempo_chegada_relogio])
            tempo_final_servico_relogio= tempo_chegada_relogio+tempo_fila+tes
            tempo_cliente_sistema = tempo_fila + tes
            tempo_livre_operador = max([0, tempo_chegada_relogio -self.simulacao[-1]['tempo_final_servico_relogio']])
        
        iteracao ={
                'cliente': cliente, 
                'tec': tec,
                'tempo_chegada_relogio': tempo_chegada_relogio,
                'tes': tes,
                'tempo_inicio_servico_relogio': tempo_inicio_servico_relogio,
                'tempo_fila': tempo_fila,
                'tempo_final_servico_relogio': tempo_final_servico_relogio,
                'tempo_cliente_sistema': tempo_cliente_sistema,
                'tempo_livre_operador': tempo_livre_operador
                }
        self.simulacao.append(iteracao)
        
    def get_tabela(self):
          return pd.DataFrame(self.simulacao, columns=['cliente', 'tec', 'tempo_chegada_relogio', 'tes', 'tempo_inicio_servico_relogio', 'tempo_fila', 'tempo_final_servico_relogio', 'tempo_cliente_sistema', 'tempo_livre_operador'])

In [0]:
vars = Variaveis()
vars.set_tes(Distribuicoes.EXPONENCIAL.value['func'])
vars.set_tec(Distribuicoes.EXPONENCIAL.value['func'])

s = Simulacao(variaveis=vars, tempo_limite=1000)

In [0]:
s.simular_tudo()
s.get_tabela()

   cliente        tec  ...  tempo_cliente_sistema  tempo_livre_operador
0        1  11.434032  ...               0.416393             11.434032
1        2  28.994134  ...              25.595479             28.577741
2        3   2.905123  ...             195.040329              0.000000
3        4   0.736133  ...             221.998058              0.000000
4        5   6.952038  ...             733.246272              0.000000
5        6  12.406643  ...             799.880310              0.000000
6        7  10.506690  ...             796.493559              0.000000
7        8  20.639973  ...             943.167334              0.000000

[8 rows x 9 columns]

Exponencial