In [1]:
from simulacaoMM1 import *

# Cria a simulação informando as taxas de chegada e atendimento

In [2]:
s = SimulacaoMM1(chegada=10,atendimento=15)

# Exibe a simulação gerada para uma hora

In [3]:
s.mostrarSimulacao()

,ID,TEC,TCR,TES,TF,TSR,TClS,TAO
0,1,0.014362,0.014362,0.003195,0.000000,0.017557,0.003195,0.014362
1,2,0.304912,0.319274,0.010395,0.000000,0.329669,0.010395,0.301717
2,3,0.048549,0.367823,0.016428,0.000000,0.384252,0.016428,0.038154
3,4,0.033612,0.401435,0.007738,0.000000,0.409173,0.007738,0.017184
4,5,0.000131,0.401566,0.046633,0.007607,0.463412,0.054239,0.000000
5,6,0.043328,0.444895,0.170991,0.018518,0.652921,0.189508,0.000000
6,7,0.008062,0.452957,0.022907,0.199964,0.875792,0.222871,0.000000
7,8,0.199366,0.652322,0.282309,0.223470,1.381571,0.505779,0.000000
8,9,0.059438,0.711760,0.124011,0.669810,2.175392,0.793821,0.000000
9,10,0.036950,0.748710,0.000326,1.426682,3.602400,1.427008,0.000000
10,11,0.079138,0.827848,0.112333,2.774552,6.489285,2.886885,0.000000
11,12,0.044301,0.872149,0.015527,5.617136,12.121948,5.632663,0.000000
12,13,0.219605,1.091754,0.001112,11.030194,23.153254,11.031306,0.000000

# Exibe comparativo entre o modelo M/M/1 e a simulação real

In [5]:
s.mostrarComparacao()

              TIPO         W        Wq        Ws    L        Lq        Ls
0  Simulação M/M/1  1.752449  1.689841  0.062608  NaN       NaN       NaN
1     Modelo M/M/1  2.000000  0.133333  0.066667  2.0  1.333333  0.666667